= render 'shared/side'

.main__container
  .main__container__body
    .main__container__body__box
      = image_tag "valentine.jpg", class: "main__container__body__box__avatar"
      .main__container__body__box__name
        jjjjj
      .main__container__body__box__text
        rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
        .date
          = fa_icon 'clock'
          23日前
    .main__container__body__box
      = image_tag "valentine.jpg", class: "main__container__body__box__avatar"
      .main__container__body__box__name
        jjjjj
      .main__container__body__box__text
        rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
        .date
          = fa_icon 'clock'
          23日前
    .main__container__body__box
      = image_tag "valentine.jpg", class: "main__container__body__box__avatar"
      .main__container__body__box__name
        jjjjj
      .main__container__body__box__text
        rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
        .date
          = fa_icon 'clock'
          23日前
  .main__container__footer
    %input{:name => "NAME", :type => "text", class: "main__container__footer__form"}/
    %input{:name => "NAME", :type => "file", class: "main__container__footer__file"}/
    .main__container__footer__submit
      done!
