.main__side
  .main__side__user
    = image_tag (current_user.avatar), class: "main__side__user__avatar"
    .main__side__user__name
      = current_user.name

  .main__side__room
    .main__side__room__box
      .main__side__room__box__name
        ssss
      .main__side__room__box__text
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaab
    .main__side__room__box
      .main__side__room__box__name
        ssss
      .main__side__room__box__text
        aaaaaaa
    .main__side__room__box
      .main__side__room__box__name
        ssss
      .main__side__room__box__text
        aaaaaaadddddddddddddddddddddd
    .main__side__room__box
      .main__side__room__box__name
        ssss
      .main__side__room__box__text
        aaaaaaa

  .main__side__member
    .main__side__member__top
      * Room メンバー
    .main__side__member__list
      = image_tag "valentine.jpg", class: "main__side__member__list__avatar"
      .main__side__member__list__name
        ddddffffffffffffffffffffffffffffffffff
    .main__side__member__list
      = image_tag "valentine.jpg", class: "main__side__member__list__avatar"
      .main__side__member__list__name
        ddddffffffffffffffffffffffffffffffffff
    .main__side__member__list
      = image_tag "valentine.jpg", class: "main__side__member__list__avatar"
      .main__side__member__list__name
        ddddffffffffffffffffffffffffffffffffff
    .main__side__member__list
      = image_tag "valentine.jpg", class: "main__side__member__list__avatar"
      .main__side__member__list__name
        ddddffffffffffffffffffffffffffffffffff
