!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MINE
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: :"https://fonts.googleapis.com/css?family=Noto+Serif+SC", rel: :"stylesheet"}/
    %link{crossorigin: :"anonymous", href: :"https://use.fontawesome.com/releases/v5.7.0/css/all.css", integrity: :"sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ", rel: :"stylesheet"}/


  %body
    %header.header
      %h1.header__title
        #{fa_icon 'paw'}MINE#{fa_icon 'paw'}
      = link_to destroy_user_session_path, method: :delete, class: 'header__btn' do
        ログアウト

    .main
      = yield
